.title-layer{
    margin-top: 10px;   
    font-weight: bolder;
    font-size: 25px; 
}
.new-exam-btn{
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px; 
}
.list-exam-main{
    width: 600px;
}
.set-exam-main{
    width: 660px;
    padding: 18px;
}
.question-area{
    border: 2px solid #ddd;
    border-radius: 0.215rem;
    padding: 10px;
}
.question{
    padding: 6px;
}
.img-upload-pic{
    width: 350px;
    height: 220px;
    border: 2px solid #ddd;
    border-radius: 0.215rem;
    margin-top:10px;
}
.img-upload-chart{
    width: 550px;
    height: 320px;
    border: 2px solid #ddd;
    border-radius: 0.215rem;
    margin-top:10px;
}

.audio-question{
    display: inline-block;
    padding:5px;
    margin-right: 20px;
}
.inner-question{
    margin-bottom: 8px;
}
.btn-area{
   margin-top: 20px;
   width: 550px;
   margin: 0 auto;
   text-align: center;
   
}